@model Category
<div class="card shadow border-0 mt-4">
    <div class="card-header border pt-3 mt-4 text-center">
        <div class="row justify-content-center pb-2">
            <h2 class="text-dark">
                <!-- Adjust font size here -->
                Create Category
            </h2>
        </div>
    </div>

    <div class="card-body p-4">
        <form method="post" class="row container-fluid">
            <div class="border p-3 col-12">
                <div class="mb-3 row">
                    <label asp-for="Name" class="ms-2"></label>
                    <div class="col-12 col-12">
                        <input asp-for="Name" class="form-control border-0 shadow" />
                    </div>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                <div class="mb-3 row">
                    <label asp-for="DisplayOrder" class="ms-2"></label>
                    <div class="col-12 col-12">
                        <input asp-for="DisplayOrder" class="form-control border-0 shadow"></input>
                    </div>
                    <span asp-validation-for="DisplayOrder" class="text-danger"></span>
                </div>

                <div class="row pt-2 d-flex justify-content-center justify-content-md-start">
                    <div class="col-6 col-md-3">
                        <button type="submit" class="btn btn-dark form-control w-100">Create</button>
                    </div>
                    <div class="col-6 col-md-3">
                        <a asp-controller="Category" asp-action="Index" class="btn btn-outline-dark form-control">
                            Back to List
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts
{
    @{
        <Partial name="_ValidationScriptsPartial" />
    }
}
