@model Category

<div class="card shadow border-0 mt-4">
    <div class="card-body border pt-3 mt-4 text-center">
        <input asp-for="CategoryID" hidden />
        <div class="row justify-content-center pb-2">
            <h2 class="text-dark">Delete Product</h2>
        </div>
    </div>

    <div class="card-body p-4">
        <form asp-action="Delete" method="post">
            <input type="hidden" asp-for="CategoryID" /> <!-- Ensure correct binding -->

            <div class="border p-3">
                <div class="mb-3">
                    <label asp-for="Name" class="form-label"></label>
                    <input asp-for="Name" disabled class="form-control border-0 shadow" />
                </div>

                <div class="mb-3">
                    <label asp-for="DisplayOrder" class="form-label"></label>
                    <textarea asp-for="DisplayOrder" disabled class="form-control border-0 shadow"></textarea>
                </div>
            </div>

            <div class="row pt-2 justify-content-center">
                <div class="col-6 col-md-3 mb-2">
                    <button type="submit" class="btn btn-danger w-100">Delete</button>
                </div>
                <div class="col-6 col-md-3">
                    <a asp-controller="Category" asp-action="Index" class="btn btn-outline-dark w-100">
                        Back to List
                    </a>
                </div>
            </div>
        </form>

       
    </div>
</div>
