@page
@model ExternalLoginModel
@{
    ViewData["Title"] = "Register";
}

<div class="container mt-4">
    <div class="text-center">
        <h1 class="fw-bold">@ViewData["Title"]</h1>
        <h2 id="external-login-title" class="text-muted">
            Associate your @Model.ProviderDisplayName account.
        </h2>
    </div>

    <div class="alert alert-success text-center mt-3" id="external-login-description">
        <p>
            You've successfully authenticated with <strong>@Model.ProviderDisplayName</strong>.
            Please enter an email address for this site below and click the Register button to finish logging in.
        </p>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-6">
            <form asp-page-handler="Confirmation" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="p-4 shadow rounded">
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

                <div class="form-floating mb-3">
                    <input asp-for="Input.Email" class="form-control  shadow-sm" autocomplete="email" placeholder="Email" />
                    <label asp-for="Input.Email" class="form-label"></label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>

                <div class="form-floating mb-3">
                    <input asp-for="Input.Name" class="form-control  shadow-sm" autocomplete="name" placeholder="Name" />
                    <label asp-for="Input.Name" class="form-label"></label>
                    <span asp-validation-for="Input.Name" class="text-danger"></span>
                </div>

                <div class="form-floating mb-3">
                    <input asp-for="Input.PhoneNumber" class="form-control  shadow-sm" autocomplete="tel" placeholder="Phone Number" />
                    <label asp-for="Input.PhoneNumber" class="form-label"></label>
                    <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                </div>

                <div class="form-floating mb-3">
                    <input asp-for="Input.StreetAddress" class="form-control  shadow-sm" autocomplete="street-address" placeholder="Street Address" />
                    <label asp-for="Input.StreetAddress" class="form-label"></label>
                    <span asp-validation-for="Input.StreetAddress" class="text-danger"></span>
                </div>

                <div class="form-floating mb-3">
                    <input asp-for="Input.City" class="form-control  shadow-sm" autocomplete="address-level2" placeholder="City" />
                    <label asp-for="Input.City" class="form-label"></label>
                    <span asp-validation-for="Input.City" class="text-danger"></span>
                </div>

                <div class="form-floating mb-3">
                    <input asp-for="Input.State" class="form-control shadow-sm" autocomplete="address-level1" placeholder="State" />
                    <label asp-for="Input.State" class="form-label"></label>
                    <span asp-validation-for="Input.State" class="text-danger"></span>
                </div>

                <div class="form-floating mb-3">
                    <input asp-for="Input.PostalCode" class="form-control  shadow-sm" autocomplete="postal-code" placeholder="Postal Code" />
                    <label asp-for="Input.PostalCode" class="form-label"></label>
                    <span asp-validation-for="Input.PostalCode" class="text-danger"></span>
                </div>

                <button type="submit" class="w-100 btn btn-lg btn-dark shadow-sm">
                    Register
                </button>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
